@font-face {
  font-family: "RFDewi";
  font-weight: normal;
  src: url("../../../../fonts/RF/RFDewiExtended-Bold.woff2") format("woff2");
}

body {
  font-family: "RFDewi";
}

* {
  padding: 0;
  margin: 0;
}
p,
h1 {
  margin: 0 0 30px 0;
}

.content {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 30px;
}

.bridge-day {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.bridge-night {
  display: block;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .bridge-day {
    width: 100%;
  }
  .bridge-night {
    width: 100%;
  }
}
