body {
    font: 600 14px;
}

.card-container {
    cursor: pointer;
    height: 500px;
    perspective: 600;
    position: relative;
    width: 500px;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.card .back {
    background: #eaeaed;
    color: #0087cc;
    line-height: 150px;
    text-align: center;
    transform: rotateY(180deg);
}

@keyframes slide {
    0% {
        left: 0;
        top: 0;
    }

    50% {
        left: 244px;
        top: 100px;
    }

    80% {
        left: 488px;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.stage {
    background: #eaeaed;
    border-radius: 6px;
    height: 150px;
    position: relative;
    min-width: 538px;
}

.stage:hover .ball {
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 1s;
}

.ball {
    background: #2db34a;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
}

figure {
    margin: 0;
}