@font-face {
    font-family: 'RFDewi';
    font-weight: normal;
    src: url("../../../../fonts/RF/RFDewiExtended-Light.woff2") format('woff2'), 
}
@font-face {
    font-family: 'RFDewi';
    font-weight: bold;
    src: url("../../../../fonts/RF/RFDewiExtended-Black.woff2") format('woff2'), 
}

body {
    font-family: 'RFDewi';
}

.text {
    padding: 20px;
}

.wraper{
    width: 60%;
    margin: 0 auto;
}
main{
    border: 1px solid orange;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
}
main ul{
    background: orange;
}
main li, main li a{
    display: inline-block;
}
main li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}
*{
    color: #CC8000;
}
h2{
    color: #9b6100;
    text-align: center;
}
p{
    text-indent: 50px;
    line-height: 33px;
    text-align: justify;
    margin: 0;
    font-size: 17px;
}
p a {
    font-weight: bold;
}

nav li {
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
    padding: 0 25px;
    line-height: 50px; 
    transition: all ease 0.3s;
}

nav li:hover {
    background: rgb(255, 255, 255);
    color: orange;
}

footer nav {
    text-align: center;
    margin: 20px 0;
}
footer li a{
    color: #9b6100;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px;
}

.nav-bottom li {
    font-size: 14px;
    text-decoration: none;
    color: #9b6100;
    font-weight: bold;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
    padding: 0 25px;
    line-height: 50px; 
    transition: all ease 0.3s;
}

.nav-bottom li:hover {
    color: orange;
    font-size: 1.1em;
}